{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-tailwindcss"
    ],
    "rules": {
        "at-rule-no-unknown": null,
        "color-hex-length": "short",
        "selector-class-pattern": null,
        "no-descending-specificity": null,
        "block-no-empty": null
    }
}